*{
    font-family: "Red Hat Display", sans-serif;
}

.navbar{
    padding: 10px 0px 10px 0px;
}

.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/img/hero/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 140px;
    margin-bottom: 10em;
}

.hero h1{
    font-size: 3.125em;
    margin-bottom: 10px;
    font-weight: bold;
}
.navbar-brand{
    margin-left: 12px;
}
.gallery img{
    height: 250px;
}

@media screen and (max-width:576px){
    .services{
        padding-top: 100px;
    }
}

.faq {
    margin-top: 5em;
    margin-bottom: 10em;
}